<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
from microsite_manager.models import MicrositeAdminManager
from microsite_configuration.models import Microsite
from student.models import User
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
  //require(['${static.url("https://demo-atp.themoocagency.com//media/studio/js/atp/create.js")}']);
  require(['${static.url("js/atp/create.js")}']);
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">

<%
try:
  microsite_key = MicrositeAdminManager.objects.get(user=user).microsite_id
  microsite_data=Microsite.objects.get(pk=microsite_key).values
  if microsite_data.get('primary_color') is not None:
    primary_color=microsite_data.get('primary_color')
  else :
    primary_color="#0C1C49"
except:
  primary_color="#0C1C49"

%>
<style>
.img_fundamentals {
  background-image: url('/static/images/fondamentaux.png');
}
* {
  font-family: "mywebfont" !important;
}
#logo_cms {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.error_input {
  border-color: red !important;
}
.text_color_red{
  color: red !important;
}

#create{
  display: block!important;
  height: auto!important;
  margin-top: 15px!important;
  margin-bottom: auto!important;
  text-decoration: none!important;
  color: #fff!important;
  border-radius: 30px!important;
  font-weight: bold!important;
  line-height: 60px!important;
  vertical-align: middle!important;
  text-align: center!important;
  font-size: 20px!important;
  background-color: ${primary_color}!important;
}
#title p {
  text-transform: inherit !important;
}
.sub_input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.field input {
  margin-bottom: 0px !important;
}
.cell_content {
  padding-bottom: 0px !important;
}
</style>
<link rel="stylesheet" type="text/css" href="${static.url("js/vendor/timepicker/jquery.timepicker.css")}">
<section id="content">
  <section id="primary">
    <div id="fil_ariane"><a href="/">${_('My modules')} ></a></div>
    <div id="title">
      <h1 style="text-transform:initial!important;">${_('Create my campaign')}</h1>
      <p>
        ${_('To create your training campaign, you have to specify an unique campaign title as long as a target for your training campaign.')}
        <br>
        ${_('Please, note that these will be indicated in the statistics dashboard of this training campaign.')}
      </p>
    </div>
    <ul class="list-courses">
      <!-- suite -->
      <li class="course-item">
        <div class="content_img">
          <span class="img_${course.categ.lower().replace(' ','')}" /></span>
          <span class="course_module_categ">${_(course.categ)}</span>
          <img src="${overview.image_urls['raw']}" class="img_course"/>
        </div>
        <div class="content_info">
          <h3 class="course-title">${course.display_name_with_default_escaped}</h3>
          <div class="duration_course">
            <object oa-reusable-svg
                    data="${static.url('images/duree.svg')}"
                    type="image/svg+xml"
                    class="svg-class"
                    data-class="timer_svg_color"
                    >
            </object>
            <span style="margin-left: 24px;">${details.effort}</span>
          </div>
        </div>
        <span style="clear:left;display:block;"></span>
      </li>
    </ul>
    <!-- cell 1/1 -->
    <!-- cell 1/1 -->
    <!-- cell 1/1 -->
    <!-- cell 1/1 -->
    <!-- cell 1/1 -->
    <div class="cell_title">
      <h3 id="h3_2"><div class="num" id="num_2">1/1</div><span>${_('identifying your campaign')}</span></h3>
    </div>
    <div class="cell_content" id="cell_2">
      <div class="date_title">
        <h5 style="width:100%;">${_('Specify an unique campaign title as long as a target for your training campaign')}:</h5>
        <!--
        <p>${_('This identifier is reflected in the statistical dashboards')}</P>
        <p>${_('This allows you to specify the target and / or training period')}</P>
        -->
        <span style="clear:both;display:block;"></span>
      </div>
      <div class="field date">
        <label>${_('Campaign title (unique id)')}</label>
        <input type="text" id="course_number" placeholder="${_('')}" value="" data-course_key="${course.id}" data-org="${course.org}" data-display_name="${course.display_name_with_default_escaped}"/>
      </div>
      <div class="field date">
        <label>${_('Target')}</label>
        <input type="text" id="course_run" placeholder="${_('')}" value="" data-course_key="${course.id}" data-org="${course.org}" data-display_name="${course.display_name_with_default_escaped}"/>
        <input type="hidden" id="user_org" name="user_org" value="${user_org}" />
      </div>
      <div class="sub_input last_sub_input">
        ${_('Rules for unique ID and target')} : ${_('no space, no punctuation, no special characters')}
      </div>
    </div>

    <!-- bouton create -->
    <!-- bouton create -->
    <!-- bouton create -->
    <!-- bouton create -->
    <button id="create">${_('Create')}</button>
  </section>
  <section id="secondary">
  </section>
  <span style="display:block;clear:left;"></span>
</section>
<div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
  <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
    <div class="copy">
      <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
      <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
    </div>
    <nav class="nav-actions">
      <ul>
        <li class="nav-item">
          <button class="action-primary action-save">Save Changes</button>
        </li>
        <li class="nav-item">
          <button class="action-secondary action-cancel">Cancel</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="${static.url('css/create_course.css')}">
<!-- title font-size scale -->
<script>
var _h3 = document.getElementsByClassName('course-title');
var elem;
for(var i=0;i<_h3.length;i++) {
  if(i == 0) {
    elem = _h3[i]
  }
}
var height = 0;
var default_font = 2.2;
var incredent = 0.1;
var lim = 42;
var actual = elem.clientHeight;
while(actual > lim) {
  default_font = default_font - incredent;
  elem.style.fontSize = default_font+'em';
  actual = elem.clientHeight;
}
</script>
</%block>
