<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">
<style>
#logo_preview img, #logo_preview_couleur img {
  max-height: 250px;
  height: auto;
  width: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
#primary{
  padding: 15px;
}
.wrapper-sock{
  margin: 0px!important;
  border-top: 0px;
  position: static;
}
</style>
  <section id="primary">
    <h4>DISCLAIMER</h4>
    <div id="fil_ariane"><a href="/">${_('My campaigns')} ></a></div>
    <div id="title">
      <h1>${_('Manage my microsite')}</h1>
    </div>
    <div id="form">
      <div id="pre_title" class="form_update">
        <label data-value="${key}">${key}</label>
        <input type="text" value="" name="key" id="micro_key" placeholder="microsite title" class="input_update">
      </div>
      <!--White Logo -->
      <div id="logo_preview">
        <img src="https://${settings.SITE_NAME+logo_site}" />
      </div>
      <div id="pre_picture" class="form_update_logo">
        <form id="upload_microsite_logo">
          <input class="new-microsite-logo" id="new-microsite-logo" type="file" name="logo" required="" aria-describedby="tip-new-microsite-logo tip-error-new-microsite-logo">
        </form>
      </div>
      <!--Logo Color -->
      % if logo_couleur:
      <div id="logo_preview_couleur">
        <img src="https://${settings.SITE_NAME+logo_couleur}" />
      </div>
      %else:
      <p>Aucun logo couleur défini pour ce site</p>
      %endif
      <div id="pre_picture" class="form_update_logo">
        <form id="upload_microsite_logo_couleur">
          <input class="new-microsite-logo" id="new-microsite-logo" type="file" name="logo_couleur" required="" aria-describedby="tip-new-microsite-logo tip-error-new-microsite-logo">
        </form>
      </div>
      <!--1st color -->
      <div id="pre_primary" class="form_update">
        <label data-value="${primary_color}">${primary_color}</label>
        <input type="text" value="" name="primary_color" id="micro_primary_color" placeholder="microsite primary color" class="input_update">
      </div>
      <!--2nd Color -->
      <div id="pre_secondary" class="form_update">
        <label data-value="${secondary_color}">${secondary_color}</label>
        <input type="text" value="" name="secondary_color" id="micro_secondary_color" placeholder="microsite secondary color" class="input_update">
      </div>
      <!-- Technical contact address -->
      <div id="pre_contact" class="form_update">
        % if contact_address:
        <label data-value="${contact_address}">${contact_address}</label>
        %else:
        <p>Aucune adresse de support technique définie pour ce site</p>
        %endif
        <input type="text" value="" name="contact_address" id="micro_contact_address" placeholder="microsite contact address" class="input_update">
      </div>

      <!-- AmundiAcademy Brand -->
      <div id="pre_amundibrand" class="form_update">
        % if amundi_brand:
          %if amundi_brand == 'true':
            <label data-value="${amundi_brand}">La marque AmundiBrand est affichée</label>
          %else:
           <label data-value="${amundi_brand}">La marque AmundiBrand est cachée</label>
          %endif
        %else:
        <p>Veuillez sélectionner l'apparence de la marque AmundiAcademy</p>
        %endif
        <select class="input new-microsite-amundibrand select amundibrand-selector input_update" id="amundibrand-value" name="amundi_brand">
          <option value="true">Display</value>
          <option value="false">Hide</value>
        </select>
      </div>

      <!-- Language -->
      <div id="language_code" class="form_update">
        <label for="new-microsite-language">Chose Language</label>
        <select class="input new-microsite-language select language-selector input_update" id="language-value" name="language_code">
          <option value="fr">Français</value>
          <option value="en">English</value>
        </select>
      </div>

    </div>
  </section>
  <div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
    <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
      <div class="copy">
        <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
        <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
      </div>
      <nav class="nav-actions">
        <ul>
          <li class="nav-item">
            <button class="action-primary action-save">Save Changes</button>
          </li>
          <li class="nav-item">
            <button class="action-secondary action-cancel">Cancel</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
<link rel="stylesheet" type="text/css" href="${static.url('css/invite_course.css')}">
<style>
#form label,#form input {
  display: block;
}
#content {
  min-height: 900px;
}
#primary {
  width: 100%;
}
input[type="text"] {
  width: 50%;
}
.form_update {
  margin-top: 5px;
  margin-bottom: 5px;
}
#form label {
  font-size: 18px;
  font-family: "Arial";
  margin-top: 4px;
  margin-bottom: 4px;
}
/*
.js .wrapper-notification {
  bottom: 0;
}
#notification-warning {
  display: none;
}
*/
</style>
</%block>
