<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
  //require(['${static.url("js/invite.js")}']);
  require(['https://demo-atp.themoocagency.com/media/studio/invite.js']);
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">
<link rel="stylesheet" type="text/css" href="/static/420ed091b4/js/vendor/timepicker/jquery.timepicker.450aaf730030.css">
<link rel="stylesheet" type="text/css" href="${static.url("js/vendor/timepicker/jquery.timepicker.css")}">
<link rel="stylesheet" type="text/css" href="/static/420ed091b4/atp/css/cms-style-vendor.a8460e6e5e4b.css">
<link rel="stylesheet" type="text/css" href="${static.url("atp/css/cms-style-vendor.css")}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<section id="content">
  <section id="primary">
    <div id="fil_ariane"><span>${_('My campaigns')} ></span></div>
    <div id="title">
      <h1>${_('Manage my campaign')}</h1>
      <p>
        ${_('Provide all the information you need to launch your training campaign: start / end date, loading of learners, invitation mail, etc.')}
      </p>
    </div>
    <ul class="list-courses">
      <!-- suite -->
      <li class="course-item">
        <div class="content_img">
          <img src="${overview.image_urls['raw']}" class="img_course"/>
        </div>
        <div class="content_info">
          <h3 class="course-title">${course.display_name_with_default_escaped}</h3>
          <div class="duration_course">
            <object oa-reusable-svg
                    data="${static.url('images/duree.svg')}"
                    type="image/svg+xml"
                    class="svg-class"
                    data-class="timer_svg_color"
                    >
            </object>
            <span>${details.duration}</span>
          </div>
        </div>
        <span style="clear:left;display:block;"></span>
      </li>
    </ul>
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->

    <div class="cell_title">
      <h3 id="h3_5"><div class="num" id="num_5">1/2</div><span>${_('participants')}</span></h3>
    </div>
    <div class="cell_content" id="cell_5">
      <div class="date_title particulary">
        <h5>${_('Load the list of participants')}</h5>
        <span style="clear:both;display:block;"></span>
      </div>
      <div class="field participants">
        <form id="upload_form_participant" enctype="multipart/form-data">
          <input type="file" name="file" id="invite_participant">
        </form>
        <div id="choise_from_file">
          <button class="buton_from_file" id="register_from_csv">${_("Register")}</button>
          <span style="clear:left;display:block;"></span>
        </div>
      </div>
      <span style="display:block;clear:left;"></span>
    </div>

    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->

    <div class="cell_title">
      <h3 id="h3_6"><div class="num" id="num_6">2/2</div><span>${_("activation's mail")}</span></h3>
    </div>
    <div class="cell_content" id="cell_6">
      <div class="date_title particulary">
        <h5>${_('Edit and send your e-mail to the mailing list of your choice')}</h5>
        <span style="clear:both;display:block;"></span>
      </div>
      <div id="send_it">
        <h6>${_('Send to')} :</h6>
        <!-- checkbox 1 -->
        <div class="check_box_field">
          <input type="checkbox" class="checkbox_mail_field" name="checkbox_mail_field" id="checkbox_myself" value="myself">
          <label>${_('Myself')}</label>
        </div>
        <!-- checkbox 2 -->
        <div class="check_box_field">
          <input type="checkbox" class="checkbox_mail_field" name="checkbox_mail_field" id="checkbox_staff" value="staff">
          <label>${_('Staff and admins')}</label>
        </div>
        <!-- checkbox 4 -->
        <div class="check_box_field">
          <input type="checkbox" class="checkbox_mail_field" name="checkbox_mail_field" id="checkbox_all" value="all">
          <label>${_('All users')}</label>
        </div>
        <!-- checkbox 5 -->
        <div class="check_box_field">
          <input type="checkbox" class="checkbox_mail_field" name="checkbox_mail_field" id="checkbox_custom" value="custom">
          <label>${_('Customs users')}</label>
        </div>
      </div>
      <div class="field input_text" id="custom_mail_box">
        <!--
        <input type="text" id="email_1" name="email_1" value="">
        -->
        <textarea id="email_1"></textarea>
      </div>
      <div class="sub_input last_sub_input last_block">
        ${_('You can copy and paste the email addresses of recipients to whom you wish to send an invitation to participate in this training campaign. Invitations will be sent only to invited participants in Part 1/2 Participants')}
      </div>
      <h6>${_('Object')} :</h6>
      <div class="field input_text">
        <input type="text" id="email_2" name="email_2" value="">
      </div>
      <div class="sub_input last_sub_input last_block_compteur">
       Maximum of 128 characters
      </div>
      <h6>${_('Body')} :</h6>
      <div class="field textarea">
        <textarea id="mytextarea"></textarea>
      </div>
      <div class="sub_input last_sub_input last_block">
        We recommend sending only one message per week to learners. Before sending your e-mail, read your text carefully and send it to your email address. You will be able to verify that all the links work and that the content is good.
      </div>
      <div class="sub_input last_sub_input last_block ending_page">
        <span>${_('warning')} : </span>Once you have clicked on "send an email" you can no longer cancel.
      </div>
      <div class="field email_send">
        <button id="send_email">${_('Send mail')}</button>
      </div>
      <span style="display:block;clear:left;"></span>
    </div>

  </section>
  <section id="secondary">
  </section>
  <span style="display:block;clear:left;"></span>
</section>
<div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
  <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
    <div class="copy">
      <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
      <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
    </div>
    <nav class="nav-actions">
      <ul>
        <li class="nav-item">
          <button class="action-primary action-save">Save Changes</button>
        </li>
        <li class="nav-item">
          <button class="action-secondary action-cancel">Cancel</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="${static.url('css/invite_course.css')}">
</%block>
