<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
  //require(['${static.url("js/invite.js")}']);
  //require(['https://demo-atp.themoocagency.com/media/studio/js/atp/invite.js']);
  require(['${static.url("js/atp/invite.js")}']);
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<section id="content">
  <section id="primary">
    <div id="fil_ariane"><a href="/">${_('My campaigns')} ></a></div>
    <div id="title">
      <h1>${_('INVITE PARTICIPANTS')}</h1>
      <p>
        ${_('Invite participants to your training campaign')}
      </p>
    </div>
    <ul class="list-courses">
      <!-- suite -->
      <li class="course-item">
        <div class="content_img">
          <img src="${overview.image_urls['raw']}" class="img_course"/>
        </div>
        <div class="content_info">
          <h3 class="course-title">${course.display_name_with_default_escaped}</h3>
          <div class="duration_course">
            <object oa-reusable-svg
                    data="${static.url('images/duree.svg')}"
                    type="image/svg+xml"
                    class="svg-class"
                    data-class="timer_svg_color"
                    >
            </object>
            <span>${details.duration}</span>
          </div>
        </div>
        <span style="clear:left;display:block;"></span>
      </li>
    </ul>
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <style>
    .sub_particularity {
      position: relative;
      height: auto;
      min-height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .svg_bis {
      height: 40px !important;
      width: 40px !important;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -20px;
    }
    .sub_particularity p {
      color: #06144D;
      font-family: "mywebfont";
      width: calc(100% - 55px) !important;
      margin-left: 54px !important;
      float: none !important;
      text-align: left !important;
      font-size: 14px !important;
    }
    #upload_form_participant {
      width: 300px;
    }
    </style>
    <div class="cell_title">
      <h3 id="h3_5"><div class="num" id="num_5">1/1</div><span>${_('participants')}</span></h3>
    </div>
    <div class="cell_content" id="cell_5">
      <div class="date_title particulary">
        <h5>${_('Invite participants to your training campaign')}</h5>
        <span style="clear:both;display:block;"></span>
        <div class="sub_particularity">
          <object oa-reusable-svg
                  data="${static.url('images/exclamation-triangle.svg')}"
                  type="image/svg+xml"
                  class="svg_bis"
                  data-class="timer_svg_color"
                  >
          </object>
          <p>${_("In order to invite participants to your training campaign, it is imperative that starting date of the training session is set before the current date.")}</p>
        </div>
      </div>
      <div class="field participants">
        <form id="upload_form_participant" enctype="multipart/form-data">
          <input type="file" name="file" id="invite_participant">
        </form>
        <div id="choise_from_file">
          <button class="buton_from_file" id="register_from_csv">${_("Upload participants list")}</button>
          <span style="clear:left;display:block;"></span>
        </div>
      </div>
      <span style="display:block;clear:left;"></span>
    </div>

    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->


  </section>
  <section id="secondary">
  </section>
  <span style="display:block;clear:left;"></span>
</section>
<div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
  <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
    <div class="copy">
      <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
      <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
    </div>
    <nav class="nav-actions">
      <ul>
        <li class="nav-item">
          <button class="action-primary action-save">Save Changes</button>
        </li>
        <li class="nav-item">
          <button class="action-secondary action-cancel">Cancel</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<p>
  <div id="output_section">
    <h5>${_("File preview")}</h5>
    <output id="output">

    </output>
  </div>
</p>
<link rel="stylesheet" type="text/css" href="${static.url('css/invite_course.css')}">
</%block>
