<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
  //require(['${static.url("js/invite.js")}']);
  //require(['https://demo-atp.themoocagency.com/media/studio/js/atp/invite.js']);
  require(['${static.url("js/atp/invite.js")}']);
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">
<link rel="stylesheet" type="text/css" href="${static.url('js/vendor/timepicker/jquery.timepicker.css')}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
.all_dates {
    width: 100%;
    height: auto
}

.all_dates ul {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.all_dates ul li {
    width: 35%;
    height: auto;
    float: left;
    margin: 0;
    padding: 0
}

.all_dates ul li span {
    font-size: 13px;
    font-style: italic;
    font-family: "mywebfont";
    color: #05144d
}

.all_dates ul li span:first-child {
    font-weight: bold
}
.pop_up_mail {
    width: calc(100% - 40px);
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid #39B2B6;
}
.pop_up_mail p {
    font-size: 17px;
    font-weight: bold;
    font-family: "mywebfont";
    color: #39B2B6 !important;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100% !important;
    text-align: left !important;
    display: block !important;
    float: none !important;
}
.is_show {
    display: block !important;
}
.is_error {
  color: #fff !important;
  background-color: red !important;
}
#logo_cms {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#title p {
  text-transform: inherit !important;
}
#title h1{
  text-transform: initial!important;
}
.language_display{
  font-size: 13px;
  font-style: italic;
  font-family: "mywebfont";
  color: #05144d;
  font-weight: 600;
}
.campaign-link-back{
  width:70%;
  text-align: center;
}
</style>
<%
course_key_cleared=str(course_key).replace('+','').replace(':','')
%>
<section id="content">
  <section id="primary">
    <div id="fil_ariane"></div>
    <div id="title">
      <h1 style="text-transform:uppercase!important;"><a href="/home/?campaign=${course_key_cleared}" class="primary_color">< ${_('My campaigns')}</a> | ${_('Invite participants')}</h1>
      <p>
        ${_('Invite participants to your training campaign')}
      </p>
    </div>
    <ul class="list-courses">
      <!-- suite -->
      <li class="course-item">
        <div class="content_img">
          <span class="img_${course.categ.lower().replace(' ','')}" /></span>
          <span class="course_module_categ">${_(course.categ)}</span>
          <img src="${overview.image_urls['raw']}" class="img_course"/>
        </div>
        <div class="content_info">
          <h3 class="course-title">${course.display_name_with_default_escaped}</h3>
          <div class="all_dates">
            <ul>
              <li><span>${_('Starting date')} :</span> <span id="add_course_start">${course.start.strftime('%Y-%m-%d')}</span></li>
              % if course.end is not None:
                <li><span>${_('Ending date')} :</span> <span id="add_course_end">${course.end.strftime('%Y-%m-%d')}</span></li>
              % else:
                <li><span>${_('Ending date')} :</span> <span id="add_course_end"></span></li>
              % endif
              <span style="display:block;clear:left;"></span>
            </ul>
          </div>
          <div class="all_dates">
            <ul>
              <li><span id="add_course_org">${course.org}</span></li>
              <span class="language_display">${_('Language')} : ${_(language_course)} </span>

              <span style="display:block;clear:left;"></span>
            </ul>
          </div>
          <div class="duration_course">
            <object oa-reusable-svg
                    data="${static.url('images/duree.svg')}"
                    type="image/svg+xml"
                    class="svg-class"
                    data-class="timer_svg_color"
                    >
            </object>
            <span style="margin-left: 24px;">${details.effort}</span>
          </div>
        </div>
        <span style="clear:left;display:block;"></span>
      </li>
    </ul>
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <!-- cell 1/2 -->
    <style>
    .sub_particularity {
      position: relative;
      height: auto;
      min-height: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .svg_bis {
      height: 40px !important;
      width: 40px !important;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -20px;
    }
    .sub_particularity p {
      color: #06144D;
      font-family: "mywebfont";
      width: calc(100% - 55px) !important;
      margin-left: 54px !important;
      float: none !important;
      text-align: left !important;
      font-size: 14px !important;
    }
    #upload_form_participant {
      width: 300px;
    }
    .img_fundamentals {
      background-image: url('/static/images/fondamentaux.png');
    }
    #pop_up_mail_fail {
      color: red !important;
      border-color: red !important;
    }
    #pop_up_mail_fail p {
      color: red !important;
    }
    </style>
    <a href="/settings/invite/${course_key}/list"><button>${_('View participants invited')}</button></a>
    <div class="cell_title">
      <h3 id="h3_5"><div class="num" id="num_5">1/1</div><span>${_('participants')}</span></h3>
    </div>
    <div class="cell_content" id="cell_5">
      <div class="date_title particulary">
        <h5>${_('Invite participants to your training campaign')}</h5>
        <span style="clear:both;display:block;"></span>
        <div class="sub_particularity">
          <object oa-reusable-svg
                  data="${static.url('images/exclamation-triangle.svg')}"
                  type="image/svg+xml"
                  class="svg_bis"
                  data-class="timer_svg_color"
                  >
          </object>
          <p>${_("In order to invite participants to your training campaign, it is imperative that starting date of the training session is set before the current date.")}</p>
        </div>
        <div class="pop_up_mail" id="pop_up_invite">
          <p>${_("The participants' list is successfully uploaded.")}</p>
          <p>${_("An email invitation to participate to the training module has been sent to the participants.")}</p>
        </div>
        <div class="pop_up_mail" id="pop_up_mail_fail">
          <p>${_("The structure of the file loaded is incorrect. Please, modify your file and load it again")}.</p>
        </div>
      </div>
      <div class="field participants">
        <form id="upload_form_participant" enctype="multipart/form-data">
          <input type="file" name="file" id="invite_participant">
        </form>
        <div id="choise_from_file">
          <button class="buton_from_file" id="register_from_csv">${_("Upload participants list")}</button>
          <span style="clear:left;display:block;"></span>
        </div>
      </div>
      <span style="display:block;clear:left;"></span>
    </div>

    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- end cell 1/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->
    <!-- cell 2/2 -->


  </section>
  <section id="secondary">
  </section>
  <span style="display:block;clear:left;"></span>
</section>

<div class="campaign-link-back"><a href="/home/?campaign=${course_key_cleared}" class="primary_color">< ${_('Back to')} ${_('My campaigns')}</a></div>

<div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
  <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
    <div class="copy">
      <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
      <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
    </div>
    <nav class="nav-actions">
      <ul>
        <li class="nav-item">
          <button class="action-primary action-save">Save Changes</button>
        </li>
        <li class="nav-item">
          <button class="action-secondary action-cancel">Cancel</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<p>
  <div id="output_section">
    <h5>${_("File preview")}</h5>
    <output id="output">

    </output>
  </div>
</p>
<link rel="stylesheet" type="text/css" href="${static.url('css/invite_course.css')}">
<!-- title font-size scale -->
<script>
var _h3 = document.getElementsByClassName('course-title');
var elem;
for(var i=0;i<_h3.length;i++) {
  if(i == 0) {
    elem = _h3[i]
  }
}
var height = 0;
var default_font = 2.2;
var incredent = 0.1;
var lim = 42;
var actual = elem.clientHeight;
while(actual > lim) {
  default_font = default_font - incredent;
  elem.style.fontSize = default_font+'em';
  actual = elem.clientHeight;
}
</script>
</%block>
