<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="base.html" />

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="requirejs">
  require(["js/factories/index"], function (IndexFactory) {
      IndexFactory();
  });
  require(['${static.url("js/atp/manage.js")}']);
  //require(['https://demo-atp.themoocagency.com/media/js/atp/manage.js'])
</%block>
<%namespace name='static' file='static_content.html'/>
<%block name="content">
<style>
.all_dates {
  width: 100%;
  height: auto;
}
.all_dates ul {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  list-style-type : none;
}
.all_dates ul li {
  width: 35%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
}
.all_dates ul li span {
  font-size: 13px;
  font-style: italic;
  /* font family */
  font-family: "mywebfont";
  /* primary color */
  color: #05144d;
}
.all_dates ul li span:first-child {
  font-weight: bold;
}
</style>
<link rel="stylesheet" type="text/css" href="${static.url("js/vendor/timepicker/jquery.timepicker.css")}">
<link rel="stylesheet" type="text/css" href="${static.url("css/cms-style-vendor.css")}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<section id="content">
  <section id="primary">
    <div id="fil_ariane"><a href="/">${_('My campaigns')} ></a></div>
    <div id="title">
      <h1>${_('Manage my campaign')}</h1>
      <p>
        ${_('Provide all the information required to launch your training campaign: starting/ending date, minimum percentage of success required, and campaign type.')}
      </p>
    </div>
    <ul class="list-courses">
      <!-- suite -->
      <li class="course-item">
        <div class="content_img">
          <img src="${overview.image_urls['raw']}" class="img_course"/>
        </div>
        <div class="content_info">
          <h3 class="course-title">${course.display_name_with_default_escaped}</h3>
          <div class="all_dates">
            <ul>
              <li><span>${_('Starting date')} :</span> <span id="add_course_start">${start_date}</span></li>
              <li><span>${_('Ending date')} :</span> <span id="add_course_end">${end_date}</span></li>
              <span style="display:block;clear:left;"></span>
            </ul>
          </div>
          <div class="all_dates">
            <ul>
              <li><span id="add_course_org">${course.org}</span></li>
              <span style="display:block;clear:left;"></span>
            </ul>
          </div>
          <div class="duration_course">
            <object oa-reusable-svg
                    data="${static.url('images/duree.svg')}"
                    type="image/svg+xml"
                    class="svg-class"
                    data-class="timer_svg_color"
                    >
            </object>
            <span>${details.effort}</span>
          </div>
        </div>
        <span style="clear:left;display:block;"></span>
      </li>
    </ul>
    <!-- cell 1/4 -->
    <!-- cell 1/4 -->
    <!-- cell 1/4 -->
    <!-- cell 1/4 -->
    <!-- cell 1/4 -->
    <div class="cell_title">
      <h3 id="h3_2"><div class="num" id="num_2">1/4</div><span>${_('campaign id')}</span></h3>
    </div>
    <div class="cell_content" id="cell_2">
      <div class="date_title">
        <h5 style="padding-top: 25px;">${_('Create your campagne id')}</h5>
        <p>${_('This id is indicated in statistic reports.')}</P>
        <p>${_('Precise your target and/or campaign period.')}</P>
        <span style="clear:both;display:block;"></span>
      </div>
      <div class="field date">
        <style>
         .img_course {
           height: 153px !important;
         }
          #course_identity_voile {
            top: 52px !important;
          }
          #course_identity_voile_bis {
            position: absolute;
            height: 40px;
            width: 40%;
            top: 52px;
            left: calc(45% + 4px);
            z-index: 1;
            background-color: rgba(0,0,0,0.1);
          }
          #course_identity_voile {
            width: 40% !important;
          }
          .field input {
            display: inline-block !important;
            width: 40% !important;
            margin-right: 5%;
          }
          .field {
            float: none !important;
            width: 100% !important;
          }
          .field label {
            width: 40% !important;
            display: inline-block !important;
            margin-right: 5%;
          }
        </style>
        <div id="course_identity_voile"></div>
        <div id="course_identity_voile_bis"></div>
        <label>${_('Course Number')}</label>
        <label>${_('Course Run')}</label>
        <input type="text" id="course_identity" placeholder="${_('')}" value="" disabled="true" value="555"/>
        <input type="text" id="course_session_top" placeholder="${_('')}" value="" disabled="true" value="555"/>
      </div>
      <div class="sub_input last_sub_input">
        ${_('Rules to create your campaign id: no space, no  punctuation mark')}
      </div>
    </div>
    <!-- cell 2/4 -->
    <!-- cell 2/4 -->
    <!-- cell 2/4 -->
    <!-- cell 2/4 -->
    <!-- cell 2/4 -->
    <div class="cell_title">
      <h3 id="h3_1"><div class="num" id="num_1">2/4</div><span>${_('PERIOD OF THE TRAINING CAMPAIGN')}</span></h3>
    </div>
    <div class="cell_content" id="cell_1">
      <div class="date_title">
        <h5>${_('Schedule your training campaign')}</h5>
        <p>${_('Starting and ending dates of the training campaign')}</P>
        <span style="clear:both;display:block;"></span>
      </div>
      <div class="field date" id="field-course-start-date">
        <label>${_('Starting date')}</label>
        <input type="text" id="course-start-date" placeholder="MM/DD/YYYY" data-key="start_date">
      </div>
      <div class="field date" id="field-course-start-date">
        <label>${_('Time for email invitation dispatch UTC')}</label>
        <input type="text" id="course-start-time" placeholder="HH:MM" data-key="start_time">
      </div>
      <div class="sub_input">
        ${_('The day the first invitations are dispatched when launching the training campaign')}
      </div>
      <div class="field date" id="field-course-start-date">
        <label>${_('Ending date')}</label>
        <input type="text" id="course-end-date" placeholder="MM/DD/YYYY" data-key="end_date">
      </div>
      <div class="field date" id="field-course-start-date">
        <label>${_('Ending time UTC')}</label>
        <input type="text" id="course-end-time" placeholder="HH:MM" data-key="end_time">
      </div>
      <div class="sub_input last_sub_input">
        ${_('Closing day of the training campaign')}
      </div>
    </div>
    <!-- end cell 2/4 -->
    <!-- end cell 2/4 -->
    <!-- end cell 2/4 -->
    <!-- end cell 2/4 -->
    <!-- end cell 2/4 -->
    <!-- cell 3/4 -->
    <!-- cell 3/4 -->
    <!-- cell 3/4 -->
    <!-- cell 3/4 -->
    <div class="cell_title">
      <h3 id="h3_3"><div class="num" id="num_3">3/4</div><span>${_('MINIMUM PERCENTAGE OF SUCCESS REQUIRED')}</span></h3>
    </div>
    <div class="cell_content" id="cell_3">
      <div class="date_title">
        <h5>${_('Define the minimum score required to validate the training module')}</h5>
        <p>${_('Minimum score required to validate the training module and receive the certificate of achievement')}</P>
        <span style="clear:both;display:block;"></span>
      </div>
    <div id="content_resize" data-grade="${module_store.grade_cutoffs['Pass']}">
      <div id="resizable">
        <div class="info_grade" id="fail_grade"><h6>fail</h6><p>0 - <span></span></p></div>
      </div>
      <div class="info_grade" id="passed_grade"><h6>Success</h6><p><span></span> - 100</p></div>
    </div>
    <ol class="increments">
      <li class="increment-0">0</li>
      <li class="increment-10">10</li>
      <li class="increment-20">20</li>
      <li class="increment-30">30</li>
      <li class="increment-40">40</li>
      <li class="increment-50">50</li>
      <li class="increment-60">60</li>
      <li class="increment-70">70</li>
      <li class="increment-80">80</li>
      <li class="increment-90">90</li>
      <li class="increment-100">100</li>
      <span style="clear:both;display:block;"></span>
    </ol>
    </div>

    <!-- end cell 3/6 -->
    <!-- end cell 3/6 -->
    <!-- end cell 3/6 -->
    <!-- end cell 3/6 -->
    <!-- end cell 3/6 -->
    <!-- cell 4/6 -->
    <!-- cell 4/6 -->
    <!-- cell 4/6 -->
    <!-- cell 4/6 -->
    <div class="cell_title">
      <h3 id="h3_4"><div class="num" id="num_4">4/4</div><span>${_('CAMPAIGN TYPE')}</span></h3>
    </div>
    <div class="cell_content" id="cell_4">
      <div class="date_title particulary">
        <h5>${_('Specify whether the training campaign is mandatory or optional')}</h5>
        <span style="clear:both;display:block;"></span>
      </div>
      <div class="field campaign">
        <input type="radio" name="campaign_type" value="mandatory" ${"checked" if course.is_required_atp else "" } class="campaign_type_check"/>
        <label>${_('mandatory')}</label>
      </div>
      <div class="field campaign">
        <input type="radio" name="campaign_type" value="optional" ${"checked" if not course.is_required_atp else ""} class="campaign_type_check"/>
        <label>${_('optional')}</label>
      </div>
      <span style="display:block;clear:left;"></span>
    </div>

    <!-- end cell 4/4 -->
    <!-- end cell 4/4 -->
    <!-- end cell 4/4 -->
    <!-- end cell 4/4 -->
    <!-- end cell 4/4 -->

  </section>
  <section id="secondary">
  </section>
  <span style="display:block;clear:left;"></span>
</section>
<div class="wrapper wrapper-notification wrapper-notification-warning" id="notification-warning" aria-hidden="false" aria-labelledby="notification-warning-title" tabindex="-1" aria-describedby="notification-warning-description" role="dialog">
  <div class="notification warning has-actions"><span class="feedback-symbol fa fa-warning" aria-hidden="true"></span>
    <div class="copy">
      <h2 class="title title-3" id="notification-warning-title">You've made some changes</h2>
      <p class="message" id="notification-warning-description">Your changes will not take effect until you save your progress.</p>
    </div>
    <nav class="nav-actions">
      <ul>
        <li class="nav-item">
          <button class="action-primary action-save">Save Changes</button>
        </li>
        <li class="nav-item">
          <button class="action-secondary action-cancel">Cancel</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="${static.url('css/manage_course.css')}">
</%block>
