

<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_manager.models import MicrositeAdminManager
from microsite_configuration.models import Microsite
from student.models import User
%>



<%
#Microsite-logo
default_contact = ''
try:
  microsite_key = MicrositeAdminManager.objects.get(user=user).microsite_id
  microsite_data=Microsite.objects.get(pk=microsite_key).values

  if microsite_data.get('trademark') is not None and microsite_data.get('trademark')!='':
    trademark=microsite_data.get('trademark')
  else :
    trademark='© Amundi 2018'

  if microsite_data.get('contact_address') is not None and microsite_data.get('contact_address')!='':
    contact_address=microsite_data.get('contact_address')
  else :
    contact_address="amundiacademy@amundi.com'"

  if microsite_data.get('primary_color') is not None:
    primary_color=microsite_data.get('primary_color')
  else :
    primary_color="#0C1C49"

  if microsite_data.get('disclaimer') is not None:
    disclaimer=microsite_data.get('disclaimer')
  else :
    if LANGUAGE_CODE == "fr":
      disclaimer=default_disclaimer_fr
    else:
      disclaimer=default_disclaimer_en

except:
  trademark='© Amundi 2018'
  contact_address='amundiacademy@amundi.com'
  primary_color="#0C1C49"
  disclaimer=''
  pass

%>


<style>
/*Modal shape up */
  .modal-close {
    text-align: center;
    height: auto;
    min-height: 80px;
    line-height: 80px;
    vertical-align: middle;
  }
  .btn,.btn:hover,.btn:focus,.btn:visited {
    background-color: #dc9f0d;
    border: none;
    padding: 10px 30px;
    width: 150px;
    font-weight: 600;
    color: #fff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
  }
  .pop_up_atp p{
    text-align: justify;
    text-justify: inter-word;
    color: #000;
    font-size: 12px;
    line-height: 12px;
  }
  .pop_up_atp {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #999;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: 6px;
      outline: 0;
      box-shadow: 0 3px 9px rgba(0,0,0,.5);
      z-index: 10000000000000;
      padding: 10px 60px 30px;
  }
  #atp_footer_nav {
    float: right;
  }
  #atp_footer_nav button,#atp_footer_nav button:hover,#atp_footer_nav button:focus,#atp_footer_nav button:visited,#atp_footer_nav a,#atp_footer_nav a:hover,#atp_footer_nav a:focus,#atp_footer_nav button:visited{
    color: #fff !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    text-shadow: !important;
    text-transform: uppercase;
    outline: none;
    font-weight: 600;
  }
  .legal_is_display {
    display: block !important;
  }
#atp_footer_nav button:hover, #atp_footer_nav a:hover {
color: #dda000 !important;
text-decoration: none !important;
font-weight: 600;
}

/* footer css */
#footer-studio{
  background-color:${primary_color};
  height: 25px;
  color:white;
  font-size: 12px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "mywebfont";
}
#footer-studio a{
  color: white;
  font-family: "mywebfont";
}
ul{
  padding-left: 0;
}
#legal_notice{
  margin-left: 15px;
  cursor: pointer;
}
</style>


<!--- legal notice -->
<div id="pop_up_legal_notice" class="pop_up_atp">
  % if LANGUAGE_CODE == "fr":

  % endif
  <div class="modal-close">
    <a  class="btn btn-success btn-no-green" id="close_legal">
      % if LANGUAGE_CODE == "en" or LANGUAGE_CODE == "de-de":
        Close
      % elif LANGUAGE_CODE == "fr":
        Fermer
      % endif
    </a>
  </div>
</div>

<!-- footer -->
<footer id="footer-studio">
  <div id="footer-left">
    <p>${trademark}</p>
  </div>
  <div id="footer-right">
    <a href="mailto:${contact_address}">Contact</a>
    <span id="legal_notice">Disclaimer</span>
  </div>
</footer>



<!-- contact -->

<!--
<div class="wrapper-footer wrapper">
  <footer class="primary" role="contentinfo">







    <div class="footer-content-primary">
      <div id="atp_footer_nav">
        <button id="legal_notice">${_("legal notices")}</button>

        <a href="" id="contact">${_("contact")}</button>
      </div>
      <span style="display:block;clear:right;"></span>
      <div class="colophon">
        <p>&copy; ${settings.COPYRIGHT_YEAR} <a data-rel="edx.org" href="${marketing_link('ROOT')}" rel="external">${settings.PLATFORM_NAME}</a>.</p>
      </div>

      % if is_any_marketing_link_set(['TOS', 'PRIVACY']):
        <nav class="nav-peripheral">
          <ol>
            % if is_marketing_link_set('TOS'):
              <li class="nav-item nav-peripheral-tos">
                <a data-rel="edx.org" href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
              </li>
            % endif
            % if is_marketing_link_set('PRIVACY'):
              <li class="nav-item nav-peripheral-pp">
                <a data-rel="edx.org" href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
              </li>
            % endif
          </ol>
        </nav>
      % endif
    </div>

    <div class="footer-content-secondary" aria-label="{_('Legal')}">
      <div class="footer-about-copyright">
        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p>
          ## Translators: 'EdX', 'edX', 'Studio', and 'Open edX' are trademarks of 'edX Inc.'. Please do not translate any of these trademarks and company names.
          ${_("EdX, Open edX, Studio, and the edX and Open edX logos are registered trademarks or trademarks of {link_start}edX Inc.{link_end}").format(
            link_start=u"<a data-rel='edx.org' href='https://www.edx.org/'>",
            link_end=u"</a>"
          )}
        </p>
      </div>

      <div class="footer-about-openedx">
        <a href="http://open.edx.org" title="${_("Powered by Open edX")}">
          <img alt="${_("Powered by Open edX")}" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png">
        </a>
      </div>
    </div>
  </footer>
</div>
-->
