/* import variable */
@import "variable";

#fil_ariane {
  padding-top: 30px;
  font-family: $font_family;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  /* secondary color */
  color: $atp_secondary_color;
}
#title h1 {
  font-size: 2.3rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  /* primary color */
  color: $atp_primary_color;
  font-weight: bold;
  /* font family */
  font-family: $font_family;
}
#title p {
  text-transform: uppercase;
  color: #70767A;
  font-weight: bold;
  /* font family */
  font-family: $font_family;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.9rem;
  line-height: 1.8rem;
}
html,body,#content {
  background-color: #fff;
}
.js .wrapper-notification {
  left: 0;
  width: 100%;
}
#content {
  max-width: 1280px;
  min-width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#primary,#secondary {
  float: left;
  height: auto;
}
#primary {
  width: 70%;
}
#secondary {
  width: 24%;
  margin-left: 3%;
  margin-right: 3%;
}
.course-item {
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid #b2b2b2;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
.duration_course {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    color: #dc9e29;
    font-weight: bold;
    font-family: $font_family;
    width: auto;
    height: 20px;
}
.svg-class {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    z-index: 2;
}
.img_course {
    height: auto;
    width: 100%;
    display: block;
}
.content_info {
    width: calc(75% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    margin-left: 25%;
    padding: 10px;
}
.view-dashboard .course-item,.view-dashboard .course-item:hover {
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid #b2b2b2;
  background: #FAFAFA;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
}
.view-dashboard .list-courses {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.view-dashboard .course-item .course-title {
  /* primary color */
  color: $atp_primary_color;
  /* font family */
  font-family: $font_family;
  /* permanent */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.2rem;
  padding-top: 20px;
}
.view-dashboard .course-item:last-child {
  border-bottom: 1px solid #b2b2b2;
}
.content_img {
    width: calc(25% - 1px);
    border-right: 1px solid #b2b2b2;
    height: auto;
}
.content_img, .content_info {
    float: left;
}
.field {
  width: 50%;
  float: left;
  position: relative;
}
.field label, .field input {
  display:block;
  width: 80%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 17px;
  /* primary color */
  color: $atp_primary_color;
  font-family: $font_family;
  /* permanent */
}
.field label {
  font-weight: bold;
}
.field input {
  height: 40px;
}
.sub_input {
  clear: left;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c6c6c6;
  font-family: $font_family;
  /* permanent */
  color: #70767A;
  opacity: 0.8;
}
.last_sub_input {
  border-bottom-color: transparent;
}
.cell_title {
  margin-top: 45px;
  position: relative;
  width: 100%;
  padding-bottom: 0;
  height: auto;
}
.cell_title h3 {
  width: 100%;
  height: 40px;
  position: relative;
  padding-bottom: 10px;
}
.num {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-family: $font_family;
  color: #fff;
  font-weight: bold;
}
.cell_title h3 span {
  margin-left: 45px;
  width: calc(100% - 45px);
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  /* primary color */
  color: $atp_primary_color;
}
#num_5 {
  background-color: #DC9E29;
}
#num_6 {
  background-color: #CB5744;
}
#cell_5 {
  border-top-color: #DC9E29;
}
#cell_6 {
  border-top-color: #CB5744;
}
.cell_content {
  width: calc(100% - 40px);
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #c6c6c6;
  border-top:6px solid #884991;
}
.date_title {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid $atp_primary_color;
}
.date_title h5, #date_title p {
  font-family: $font_family;
  /* primary color */
  color: $atp_primary_color;
}
.date_title h5,.particulary h5 {
  margin: 0;
  padding: 0;
  float:left;
  width: 50%;
  font-weight: bold;
  font-size: 18px;
}
.particulary h5 {
  float: none;
  width: 100%;
}
.date_title p {
  margin: 0;
  padding: 0;
  float:right;
  width: 50%;
  font-size: 16px;
  text-align: right;
  /* primary color */
  color: $atp_primary_color;
}
.campaign {
  position: relative;
  width: auto;
  min-width: 15%;
}
.campaign label {
  width: calc(100% - 25px);
  margin-left: 40px;
}
.campaign input {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
.participants {
  display: block;
  width: 100%;
  background-color: #F7F7F7;
}
.end_mail,.email_send {
  display: block;
  width: 100%;
  background-color: transparent;
}
.participants button, .end_mail button,.email_send button {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin: 15px;
  border: none;
  outline: none;
  background-image: none;
  /* font family */
  font-family: $font_family;
  /* primary color */
  background-color: $atp_primary_color;
}
#send_it,.check_box_field {
  width: 100%;
  height: auto;
  display: block;
}
.check_box_field {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
#cell_6 h6,#cell_6 #send_it h6 {
  font-size: 17px;
  font-weight: bold;
  /* font family */
  font-family: $font_family;
  /* primary color */
  color: $atp_primary_color;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.check_box_field label {
  width: calc(100% - 25px);
  font-size: 15px;
  margin-left: 25px;
  /* font family */
  font-family: $font_family;
  /* primary color */
  color: $atp_primary_color;
}
.check_box_field input {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
}
.last_block {
  font-size: 13px;
  line-height: 13px;
}
.input_text,.textarea {
  display: block;
  width: 100%;
}
.input_text input,.textarea textarea {
  width: 100%;
  /* font family */
  font-family: $font_family;
  /* primary color */
  color: $atp_primary_color;
  border-color: $atp_primary_color;
}
.textarea textarea {
  min-height: 350px;
  margin-top: 12px;
  margin-bottom: 12px;
}
#custom_mail_box {
  width: 100%;
  height: auto;
}
#custom_mail_box .vr {
  font-size: 13px;
  display: inline-block;
  padding: 3px;
  vertical-align: top;
  padding-top: 2px;
}
#custom_mail_box .vr .data_mail {
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  cursor: default;
  display: block;
  height: 25px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#custom_mail_box .vr .data_mail span {
  display: inline-block;
  color: #222;
  margin: 2px 5px;
  max-width: 325px;
  max-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
#custom_mail_box .vr .data_mail .close_span {
  display: inline-block;
  width: 14px;
  height: 20px;
  cursor: pointer;
  margin-bottom: 2px;
  background: no-repeat url(//ssl.gstatic.com/apps/gadgets/contactarea/contactarea_sprite_2.gif) -4px 0;
}
#email_1 {
  display:block;
  clear:left;
  min-width: 100%;
  max-width: 100%;
  min-height: 40px;
  max-height: 40px;
}
.last_block_compteur {
  /* primary color */
  color: $atp_primary_color;
  padding-top: 0;
  font-size: 13px;
}
.ending_page {
  margin-top: 0;
  padding-top: 0;
}
.ending_page span {
  text-transform: uppercase;
  font-size: 14px;
  color: #CE614F;
}
/* button file register */
#choise_from_file {
  display: none;
  width: 260px;
  height: 64px;
  position: absolute;
  right: 0;
  top: 0;
}
.participants .buton_from_file {
  width: 100px;
  height: 30px;
  margin-top: 17px;
  margin-bottom: 17px;
  display: block;
  float: left;
  z-index: 2;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  background-image: none;
  font-family: $font_family;
  background-color: $atp_primary_color;
}
.participants .buton_from_file {
  width: auto !important;
  height: auto !important;
  min-width: 100px;
  min-height: 30px;
}
.pop_up_mail {
  width: calc(100% - 40px);
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pop_up_mail p {
  font-size: 17px;
  font-weight: bold;
  font-family: $font_family;
  color: $atp_primary_color;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.is_show {
  display:block !important;
}
.not_margin_bottom {
  margin-top: 5px !important;
}
.img_fundamentals,.img_regulatory,.img_fundamental,.img_oursolutions, .img_salesapproach {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 127px;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    outline: none;
    border: none !important;
    border-left-color: transparent !important;
}
.img_fundamental {
  background-image: url('../images/fondamentaux.png');
}
.img_fundamentals {
  background-image: url('../images/fondamentaux.png');
}
.img_oursolutions {
  background-image: url('../images/nos_solutions.png');
}
.img_salesapproach {
  background-image: url('../images/zdemarche_comm.png');
}
.img_regulatory {
  background-image: url('../images/reglementaire.png');
}
.content_img {
  position: relative;
}
.course_module_categ {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 3;
}
