/* import variable */
@import "variable";

#fil_ariane {
  padding-top: 30px;
  font-family: $font_family;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  /* secondary color */
  color: $atp_secondary_color;
}
#title h1 {
  font-size: 2.3rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  /* primary color */
  color: $atp_primary_color;
  font-weight: bold;
  /* font family */
  font-family: $font_family;
}
#title p {
  text-transform: uppercase;
  color: #70767A;
  font-weight: bold;
  /* font family */
  font-family: $font_family;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.9rem;
  line-height: 1.8rem;
}
html,body,#content {
  background-color: #fff;
}
.js .wrapper-notification {
  left: 0;
  width: 100%;
}
#content {
  max-width: 1280px;
  min-width: 900px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#primary,#secondary {
  float: left;
  height: auto;
}
#primary {
  width: 70%;
}
#secondary {
  width: 24%;
  margin-left: 3%;
  margin-right: 3%;
}
.course-item {
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid #b2b2b2;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: relative;
    box-sizing: border-box;
    width: 100%;
}
.duration_course {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 2;
    color: #dc9e29;
    font-weight: bold;
    font-family: $font_family;
    width: auto;
    height: 20px;
}
.duration_course span {
  margin-left: 30px;
}
.svg-class {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    z-index: 2;
}
.img_course {
    height: auto;
    width: 100%;
    display: block;
}
.content_info {
    width: calc(75% - 20px);
    height: calc(100% - 20px);
    position: absolute;
    margin-left: 25%;
    padding: 10px;
}
.view-dashboard .course-item,.view-dashboard .course-item:hover {
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid #b2b2b2;
  background: #FAFAFA;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
}
.view-dashboard .list-courses {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.view-dashboard .course-item .course-title {
  /* primary color */
  color: $atp_primary_color;
  /* font family */
  font-family: $font_family;
  /* permanent */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.2rem;
  padding-top: 20px;
}
.view-dashboard .course-item:last-child {
  border-bottom: 1px solid #b2b2b2;
}
.content_img {
    width: calc(25% - 1px);
    border-right: 1px solid #b2b2b2;
    height: auto;
}
.content_img, .content_info {
    float: left;
}
.field {
  width: 50%;
  float: left;
  position: relative;
}
.field label, .field input {
  display:block;
  width: 80%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 17px;
  /* primary color */
  color: $atp_primary_color;
  font-family: $font_family;
  /* permanent */
}
.field label {
  font-weight: bold;
}
.field input {
  height: 40px;
}
.sub_input {
  clear: left;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #c6c6c6;
  font-family: $font_family;
  /* permanent */
  color: #70767A;
  opacity: 0.8;
}
.last_sub_input {
  border-bottom-color: transparent;
}
.cell_title {
  margin-top: 45px;
  position: relative;
  width: 100%;
  padding-bottom: 0;
  height: auto;
}
.cell_title h3 {
  width: 100%;
  height: 40px;
  position: relative;
  padding-bottom: 10px;
}
.num {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-family: $font_family;
  color: #fff;
  font-weight: bold;
}
.cell_title h3 span {
  margin-left: 45px;
  width: calc(100% - 45px);
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  /* primary color */
  color: $atp_primary_color;
}
#num_1 {
  background-color: #884991;
}
#num_2 {
  background-color: #70767A;
}
#num_3 {
  background-color: #06144D;
}
#num_4 {
  background-color: #1E718A;
}
#cell_2 {
  border-top-color: #70767A;
}
#cell_3 {
  border-top-color: #06144D;
}
#cell_4 {
  border-top-color: #1E718A;
}
.cell_content {
  width: calc(100% - 40px);
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #c6c6c6;
  border-top:6px solid #884991;
}
.date_title {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid $atp_primary_color;
}
.date_title h5, #date_title p {
  font-family: $font_family;
  /* primary color */
  color: $atp_primary_color;
}
.date_title h5,.particulary h5 {
  margin: 0;
  padding: 0;
  float:left;
  width: 50%;
  font-weight: bold;
  font-size: 18px;
}
.particulary h5 {
  float: none;
  width: 100%;
}
.date_title p {
  margin: 0;
  padding: 0;
  float:right;
  width: 50%;
  font-size: 16px;
  text-align: right;
  /* primary color */
  color: $atp_primary_color;
}
.campaign {
  position: relative;
  width: auto;
  min-width: 15%;
}
.campaign label {
  width: calc(100% - 25px);
  margin-left: 40px;
}
.campaign input {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
.last_block {
  font-size: 13px;
  line-height: 13px;
}
.last_block_compteur {
  /* primary color */
  color: $atp_primary_color;
  padding-top: 0;
  font-size: 13px;
}
.ending_page {
  margin-top: 0;
  padding-top: 0;
}
.ending_page span {
  text-transform: uppercase;
  font-size: 14px;
  color: #CE614F;
}
/* slider grade */
.increments {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.increments li {
  width: 10px;
  margin-left: calc(10% - 11px);
  margin-right: 0;
  display:block;
  float: left;
}
.increments li:first-child {
  margin-left: 0;
}
#cell_3 .list-input .field {
  float: none;
  width: 100%;
  height: auto;
}
#content_resize {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background: #30AEEE;
  position: relative;
}
#resizable {
  width: 100px;
  height: 50px;
  background: #06144D;
  position: relative;
}
.info_grade {
  position: absolute;
  top: 50%;
  height: 40px;
  margin-top: -20px;
  right: 5px;
  z-index: 2;
  color: #fff;
  /* font family */
  font-family: $font_family;
}
.info_grade h6,.info_grade p {
  height: auto;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}
#course_identity {
  position: relative;
}
#course_identity_voile {
  position: absolute;
  height: 40px;
  width: 80%;
  top: 40px;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.1);
}

.all_dates {
  width: 100%;
  height: auto;
}
.all_dates ul {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  list-style-type : none;
}
.all_dates ul li {
  width: 35%;
  height: auto;
  float: left;
  margin: 0;
  padding: 0;
}
.all_dates ul li span {
  font-size: 13px;
  font-style: italic;
  /* font family */
  font-family: $font_family;
  /* primary color */
  color: $atp_primary_color;
}
.all_dates ul li span:first-child {
  font-weight: bold;
}
.img_course {
  height: 153px !important;
}
 #course_identity_voile {
   top: 52px !important;
 }
 #course_identity_voile_bis {
   position: absolute;
   height: 40px;
   width: 40%;
   top: 52px;
   left: calc(45% + 4px);
   z-index: 1;
   background-color: rgba(0,0,0,0.1);
 }
 #course_identity_voile {
   width: 40% !important;
 }
 .field input {
   display: inline-block !important;
   width: 40% !important;
   margin-right: 5%;
 }
 .field {
   float: none !important;
   width: 100% !important;
 }
 .field label {
   width: 40% !important;
   display: inline-block !important;
   margin-right: 5%;
 }
