## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<!-- GEOFFREY -->
<!-- import custom css script -->
<link rel="stylesheet" type="text/css" href="${static.url('css/footer.css')}">
<!-- import custom js script -->
<section id="footer_atp">
 <img src="${static.url('images/logo.png')}" />
 <ul>
  <li><a href="">${_("Contact")}</a></li>
  <li><a href="">${_("Legal notices")}</a></li>
  <span style="display:block;clear:both;"></span>
 </ul>
 <span style="display:block;clear:both;"></span>
</section>
